<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============-->
       <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="assets/css/styles.css">

       <title>Responsive E Commerce Online Shop Design main-Hazoond</title>
   </head>
   <body>
       <!--==================== HEADER ====================-->
       <header class="header" id="header">
           <nav class="nav container">
               <a href="#" class="nav__logo">
                   <i class="fas fa-tshirt"></i>Hazoond
               </a>

               <div class="nav__menu" id="nav-menu">
                   <ul class="nav__list">
                       <li class="nav__item">
                           <a href="#home" class="nav__link active-link">Home</a>
                       </li>
                       <li class="nav__item">
                           <a href="#featured" class="nav__link">Features</a>
                       </li>
                       <li class="nav__item">
                           <a href="#products" class="nav__link">Products</a>
                       </li>
                       <li class="nav__item">
                           <a href="#new" class="nav__link">New</a>
                       </li>
                   </ul>

                   <div class="nav__close" id="nav-close">
                       <i class='bx bx-x' ></i>
                   </div>
               </div>

               <div class="nav__btns">
                   <!-- Theme change button -->
                   <i class='bx bx-moon change-theme' id="theme-button"></i>

                   <div class="nav__shop" id="cart-shop">
                       <i class='bx bx-shopping-bag' ></i>
                   </div>

                   <div class="nav__toggle" id="nav-toggle">
                       <i class='bx bx-grid-alt' ></i>
                   </div>
                   <div  class="lead" id="bx-user">
                   <a href="/auth/logout">
                   <i class="bx solid bx-user"></i></a>


                   </div>
               </div>
           </nav>
       </header>

       <!--==================== CART ====================-->
       <div class="cart" id="cart">
           <i class='bx bx-x cart__close' id="cart-close"></i>

           <h2 class="cart__title-center">My Cart</h2>

           <div class="cart__container">
               <article class="cart__card">
                   <div class="cart__box">
                       <img src="assets/img/featured1.png" alt="" class="cart__img">
                   </div>

                   <div class="cart__details">
                       <h3 class="cart__title">DENIM</h3>
                       <span class="cart__price">₦190,000</span>

                       <div class="cart__amount">
                           <div class="cart__amount-content">
                               <span class="cart__amount-box">
                                   <i class='bx bx-minus' ></i>
                               </span>

                               <span class="cart__amount-number">1</span>

                               <span class="cart__amount-box">
                                   <i class='bx bx-plus' ></i>
                               </span>
                           </div>

                           <i class='bx bx-trash-alt cart__amount-trash' ></i>
                       </div>
                   </div>
               </article>

               <article class="cart__card">
                   <div class="cart__box">
                       <img src="assets/img/featured3.png" alt="" class="cart__img">
                   </div>

                   <div class="cart__details">
                       <h3 class="cart__title">Peacock</h3>
                       <span class="cart__price">₦200,000</span>

                       <div class="cart__amount">
                           <div class="cart__amount-content">
                               <span class="cart__amount-box">
                                   <i class='bx bx-minus' ></i>
                               </span>

                               <span class="cart__amount-number">1</span>

                               <span class="cart__amount-box">
                                   <i class='bx bx-plus' ></i>
                               </span>
                           </div>

                           <i class='bx bx-trash-alt cart__amount-trash' ></i>
                       </div>
                   </div>
               </article>

               <article class="cart__card">
                   <div class="cart__box">
                       <img src="assets/img/new1.png" alt="" class="cart__img">
                   </div>

                   <div class="cart__details">
                       <h3 class="cart__title">Anchor</h3>
                       <span class="cart__price">₦220,000</span>

                       <div class="cart__amount">
                           <div class="cart__amount-content">
                               <span class="cart__amount-box">
                                   <i class='bx bx-minus' ></i>
                               </span>

                               <span class="cart__amount-number">1</span>

                               <span class="cart__amount-box">
                                   <i class='bx bx-plus' ></i>
                               </span>
                           </div>

                           <i class='bx bx-trash-alt cart__amount-trash' ></i>
                       </div>
                   </div>
               </article>
           </div>

           <div class="cart__prices">
               <span class="cart__prices-item">3 items</span>
               <span class="cart__prices-total">₦610,000</span>
           </div>
       </div>

       <!--==================== MAIN ====================-->
       <main class="main">
           <!--==================== HOME ====================-->
           <section class="home" id="home">
               <div class="home__container container grid">
                   <div class="home__img-bg">
                       <img src="assets/img/home.png" alt="" class="home__img">
                   </div>

                   <div class="home__social">
                       <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                           Facebook
                       </a>
                       <a href="https://twitter.com/" target="_blank" class="home__social-link">
                           Twitter
                       </a>
                       <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                           Instagram
                       </a>
                   </div>

                   <div class="home__data">
                       <h1 class="home__title">PRIMITIVE ATTIRE<br>COLLECTIONS B720</h1>
                       <p class="home__description">
                         The newest collection of imported clothing, B720 series, features a contemporary and durable design.

                       </p>
                       <span class="home__price">₦199,000</span>

                       <div class="home__btns">
                           <a href="#story" class="button button--gray button--small">
                               Discover
                           </a>
                           <a href="#new" button class="button home__button">ADD TO CART</button>
                           </a>
                       </div>
                   </div>
               </div>
           </section>

           <!--==================== FEATURED ====================-->
           <section class="featured section container" id="featured">
               <h2 class="section__title">
                   Features
               </h2>

               <div class="featured__container grid">
                   <article class="featured__card">
                       <span class="featured__tag">Sale</span>

                       <img src="assets/img/featured1.png" alt="" class="featured__img">

                       <div class="featured__data">
                           <h3 class="featured__title">Denim</h3>
                           <span class="featured__price">₦190,000</span>
                       </div>

                      <a href="#featured" button class="button featured__button">ADD TO CART</button>
                      </a>
                   </article>

                   <article class="featured__card">
                       <span class="featured__tag">Sale</span>

                       <img src="assets/img/featured2.png" alt="" class="featured__img">

                       <div class="featured__data">
                           <h3 class="featured__title">Mahogany</h3>
                           <span class="featured__price">₦195,000</span>
                       </div>

                    <a href="#featured"button class="button featured__button">ADD TO CART</button>
                    </a>
                   </article>

                   <article class="featured__card">
                       <span class="featured__tag">Sale</span>

                       <img src="assets/img/featured3.png" alt="" class="featured__img">

                       <div class="featured__data">
                           <h3 class="featured__title">Peacock</h3>
                           <span class="featured__price">₦200,000</span>
                       </div>

                    <a href="#featured"button class="button featured__button">ADD TO CART</button>
                    </a>
                   </article>
               </div>
           </section>

           <!--==================== STORY ====================-->
           <section id="story" class="story section container">
               <div class="story__container grid">
                   <div class="story__data">
                       <h2 class="section__title story__section-title">
                           Our Story
                       </h2>

                       <h1 class="story__title">
                           Motivating Outfit for <br>this Year
                       </h1>

                       <p class="story__description">
                         Check out this store's numerous presentations featuring the newest and
                         most stylish clothing of the year.
                       </p>

                       <a href="#" class="button button--small">Discover</a>
                   </div>

                   <div class="story__images">
                       <img src="assets/img/story.png" alt="" class="story__img">
                       <div class="story__square"></div>
                   </div>
               </div>
           </section>

           <!--==================== PRODUCTS ====================-->
           <section class="products section container" id="products">
               <h2 class="section__title">
                   Products
               </h2>

               <div class="products__container grid">
                   <article class="products__card">
                       <img src="assets/img/product1.png" alt="" class="products__img">

                       <h3 class="products__title">Pebble</h3>
                       <span class="products__price">₦170,000</span>

                       <button class="products__button">
                           <i class='bx bx-shopping-bag'></i>
                       </button>
                   </article>

                   <article class="products__card">
                       <img src="assets/img/product2.png" alt="" class="products__img">

                       <h3 class="products__title">Raven</h3>
                       <span class="products__price">₦155,000</span>

                       <button class="products__button">
                           <i class='bx bx-shopping-bag'></i>
                       </button>
                   </article>

                   <article class="products__card">
                       <img src="assets/img/product3.png" alt="" class="products__img">

                       <h3 class="products__title">Fossil</h3>
                       <span class="products__price">₦185,000</span>

                       <button class="products__button">
                           <i class='bx bx-shopping-bag'></i>
                       </button>
                   </article>

                   <article class="products__card">
                       <img src="assets/img/product4.png" alt="" class="products__img">

                       <h3 class="products__title">Pistachio</h3>
                       <span class="products__price">₦195,000</span>

                       <button class="products__button">
                           <i class='bx bx-shopping-bag'></i>
                       </button>
                   </article>

                   <article class="products__card">
                       <img src="assets/img/product5.png" alt="" class="products__img">

                       <h3 class="products__title">Aegean</h3>
                       <span class="products__price">₦200,000</span>

                       <button class="products__button">
                           <i class='bx bx-shopping-bag'></i>
                       </button>
                   </article>
               </div>
           </section>

           <!--==================== TESTIMONIAL ====================-->
           <section class="testimonial section container">
               <div class="testimonial__container grid">
                   <div class="swiper testimonial-swiper">
                       <div class="swiper-wrapper">
                           <div class="testimonial__card swiper-slide">
                               <div class="testimonial__quote">
                                   <i class='bx bxs-quote-alt-left' ></i>
                               </div>
                               <p class="testimonial__description">
                                 Premium apparel, the newest trends,
                                  affordable prices, and dedicated customer service
                                   to answer any questions are all offered by us.
                               </p>
                               <h3 class="testimonial__date">February 24. 2024</h3>

                               <div class="testimonial__perfil">
                                   <img src="assets/img/testimonial1.jpg" alt="" class="testimonial__perfil-img">

                                   <div class="testimonial__perfil-data">
                                       <span class="testimonial__perfil-name">Uthman</span>
                                       <span class="testimonial__perfil-detail">CEO of the company</span>
                                   </div>
                               </div>
                           </div>

                           <div class="testimonial__card swiper-slide">
                               <div class="testimonial__quote">
                                   <i class='bx bxs-quote-alt-left'></i>
                               </div>
                               <p class="testimonial__description">
                                 We supply high-quality clothing at reasonable
                                  prices and we are also known for our attentiveness
                                   to customer needs and inquiries.
                               </p>
                               <h3 class="testimonial__date">February 24. 2024</h3>

                               <div class="testimonial__perfil">
                                   <img src="assets/img/testimonial2.jpg" alt="" class="testimonial__perfil-img">

                                   <div class="testimonial__perfil-data">
                                       <span class="testimonial__perfil-name">Abdulrahman</span>
                                       <span class="testimonial__perfil-detail">Manager of the company</span>
                                   </div>
                               </div>
                           </div>

                           <div>
                               <div>

                               </div>
                           </div>
                       </div>

                       <div class="swiper-button-next">
                           <i class='bx bx-right-arrow-alt' ></i>
                       </div>
                       <div class="swiper-button-prev">
                           <i class='bx bx-left-arrow-alt' ></i>
                       </div>
                   </div>

                   <div class="testimonial__images">
                       <div class="testimonial__square"></div>
                       <img src="assets/img/testimonial.png" alt="" class="testimonial__img">
                   </div>
               </div>
           </section>

           <!--==================== NEW ====================-->
           <section class="new section container" id="new">
               <h2 class="section__title">
                   New Arrivals
               </h2>

               <div class="new__container">
                   <div class="swiper new-swiper">
                       <div class="swiper-wrapper">
                           <article class="new__card swiper-slide">
                               <span class="new__tag">New</span>

                               <img src="assets/img/new1.png" alt="" class="new__img">

                               <div class="new__data">
                                   <h3 class="new__title">Anchor</h3>
                                   <span class="new__price">₦220,000</span>
                               </div>

                          <a href="#new" button class="button new__button">ADD TO CART</button>
                          </a>
                           </article>

                           <article class="new__card swiper-slide">
                               <span class="new__tag">New</span>

                               <img src="assets/img/new2.png" alt="" class="new__img">

                               <div class="new__data">
                                   <h3 class="new__title">Ivory</h3>
                                   <span class="new__price">₦199,000</span>
                               </div>

                          <a href="#new" button class="button new__button">ADD TO CART</button>
                          </a>
                           </article>

                           <article class="new__card swiper-slide">
                               <span class="new__tag">New</span>

                               <img src="assets/img/new3.png" alt="" class="new__img">

                               <div class="new__data">
                                   <h3 class="new__title">Peach</h3>
                                   <span class="new__price">₦235,000</span>
                               </div>

                            <a href="#new" button class="button new__button">ADD TO CART</button>
                            </a>
                           </article>

                           <article class="new__card swiper-slide">
                               <span class="new__tag">New</span>

                               <img src="assets/img/new4.png" alt="" class="new__img">

                               <div class="new__data">
                                   <h3 class="new__title">Pearl</h3>
                                   <span class="new__price">₦250,000</span>
                               </div>

                            <a href="#new" button class="button new__button">ADD TO CART</button>
                            </a>
                           </article>
                       </div>
                   </div>
               </div>
           </section>

           <!--==================== NEWSLETTER ====================-->
           <section class="newsletter section container">
               <div class="newsletter__bg grid">
                   <div>
                       <h2 class="newsletter__title">Subscribe Our <br> Newsletter</h2>
                       <p class="newsletter__description">
                         Don't skip out on your discounts.
                          Subscribe to our email newsletter to receive exclusive deals,
                           discounts, coupons, gifts, and more.

                       </p>
                   </div>

                   <form action="" class="newsletter__subscribe">
                       <input type="email" placeholder="Enter your email" class="newsletter__input">

                        <a href="/auth/register" button class="button">
                           SUBSCRIBE
                       </button>
                       </a>
                   </form>
               </div>
           </section>
       </main>

       <!--==================== FOOTER ====================-->
       <footer class="footer section">
           <div class="footer__container container grid">
               <div class="footer__content">
                   <h3 class="footer__title">Our information</h3>

                   <ul class="footer__list">
                       <li>+234-8033481883</li>
                       <li>1988-120-1496</li>
                       <li>1988-120-1497</li>
                   </ul>
               </div>
               <div class="footer__content">
                   <h3 class="footer__title">About Us</h3>

                   <ul class="footer__links">
                       <li>
                           <a href="#" class="footer__link">Support Center</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link">Customer Support</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link">About Us</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link">Copy Right</a>
                       </li>
                   </ul>
               </div>

               <div class="footer__content">
                   <h3 class="footer__title">Product</h3>

                   <ul class="footer__links">
                       <li>
                           <a href="#" class="footer__link">Agbada</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link">Babbar-Riga</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link">Kuftan</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link">Doguwar-Riga</a>
                       </li>
                   </ul>
               </div>

               <div class="footer__content">
                   <h3 class="footer__title">Social</h3>

                   <ul class="footer__social">
                       <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                           <i class='bx bxl-facebook'></i>
                       </a>

                       <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                           <i class='bx bxl-twitter' ></i>
                       </a>

                       <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                           <i class='bx bxl-instagram' ></i>
                       </a>
                   </ul>
               </div>
           </div>

           <span class="footer__copy">&#169; hazoond. All rights reserved</span>
       </footer>

       <!--=============== SCROLL UP ===============-->
       <a href="#" class="scrollup" id="scroll-up">
           <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
       </a>

       <!--=============== SWIPER JS ===============-->
       <script src="assets/js/swiper-bundle.min.js"></script>

       <!--=============== MAIN JS ===============-->
       <script src="assets/js/main.js"></script>
   </body>
</html>
